{% extends 'layout/layout.html.twig' %}
    {% block content %}
        {% include 'layout/navbar.html.twig' %}
            <div class = "text-center">
                <p class = "display-2">Oops!</p>
                <p class = "display-4">Something went wrong!</p>
            </div>
        {% include 'layout/footer.html.twig' %}
    {% endblock %}