{% extends 'layout/layout.html.twig' %}
    {% block content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h1 class="display-4">TikTok Gif Maker</h1>
                            <p class="lead">Make gif from any TikTok video!</p>
                            <form id="videoform" method="POST" action="download">
                                <input type="text" id="url" class="form-control" name="url" required>
                                <p class="text-center font-italic overflow-auto">Example:
                                    https://www.tiktok.com/@example/video/0123456789012345</p>
                                <div class="col text-center mt-2">
                                    <button type="submit" id="download" class="btn btn-primary btn-lg">Download</button>
                                    <div id="loading" class="d-none">
                                        <img src="/templates/assets/loading.gif" width="48" height="48">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center mb-5">How to use?</h1>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <h2>Copy link</h2>
                            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                                 class="bi bi-link mb-3" viewBox="0 0 16 16">
                                <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                                <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
                            </svg>
                            <p>Press share and then "Copy Link".</p>
                        </div>
                        <div class="col text-center">
                            <h2>Paste</h2>
                            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                                 class="bi bi-clipboard mb-3" viewBox="0 0 16 16">
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                            </svg>
                            <p>Paste link into the form above.</p>
                        </div>
                        <div class="col text-center">
                            <h2>Download</h2>
                            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                                 class="bi bi-cloud-arrow-down mb-3" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z"/>
                                <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                            </svg>
                            <p>Press "Download" button and wait till the video downloads.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $('#videoform').submit(function () {
                $('#loading').removeClass('d-none');
                $('#download').addClass('d-none');
            });
        </script>
    {% endblock %}
